@charset "utf-8";
@import url(fonts.css);

/* Эх хуудсыг хуваасанд хэв загвар өгсөн байдал */
.navigationMain {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: ridge #292929 1px;
    border-right: ridge #292929 1px;
    width: 70%;
}

.grid-container {
    display: grid;
    grid-template-columns: 13% 74% 13%;
    grid-template-rows: 95vh;
}

.layoutColumn {
    overflow: hidden;
    grid-column-start: 1;
    height: 100%;
    background-color: #292929;
}

.stylesColumn {
    grid-column-start: 3;
    background-color: #292929;
}

h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
   font-family: "Pretendard";
}

/* Чиглүүлэх дээд хэсгүүдэд хэв загвар өгсөн байдал */
.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    align-items: center;
    background-color: #292929;
    font-family: "Pretendard";
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #292929;
}

.navButtons {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 100%;
}

.button1 {
    font-family: "Pretendard";
    font-size: 13px;
    width: 77px;
    height: 25px;
    background-color: #3F3F3F;
    color: #F3FFE1;
    border-radius: 4px;
    margin-right: 20px;
    border: none;
}

.button2 {
    font-family: "Pretendard";
    font-size: 13px;
    width: 120px;
    height: 25px;
    background-color: #3F3F3F;
    color: #F3FFE1;
    border-radius: 4px;
    margin-right: 120px;
}

/*Үндсэн хуудас үүсгэж буй хэсгийг фремд харуулах хэсгийн хэв загвар*/
#imported {
    overflow: hidden;
}

#render {
    grid-column-start: 2;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Үндсэн хуудсын хэв загвар тодорхойлсон байдал*/
#whitePage {
    display: block;
    height: 97vh;
    width: 100%;
    padding: 3px;
    background-color: #FFFFFF;
    border: dashed 1px;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

/*Бүрдэл их бие, хөл хэсгүүдийн хэв загвар*/
#bodySimple {
    display: block;
    margin: 10px;
    width: fit-content;
    text-align: center;
}

#footerSimple {
    display: block;
    margin: 10px;
    width: fit-content;
    text-align: center;
}

#bodySimple p {
    font-size: 9px;
}

#footerSimple p {
    font-size: 9px;
}

/*Бүрдэл хэсгүүдийг цэсний хэв маяг дотор харуулах хэв загвар*/
#navigationLayouts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigationLayouts :nth-child(1) {
    display: block;
}

#headerSimpleLayoutPartParent {
    display: block;
    margin: 10px;
    width: fit-content;
    text-align: center;
    font-family: "Pretendard";
}

#headerSimpleLayoutPartParent p {
    font-size: 13px;
    font-family: "Pretendard";
}

#header-image1 {
    display: block;
    width: 10vh;
    height: 2vh;
    background-color: rgb(255, 255, 255);
    cursor: grab;
}

#headerWithSearch {
    display: block;
    margin: 10px;
    justify-content: center;
}

#headerWithSearch p {
    font-size: 9px;
}

#headerSimpleLayoutPart {
    width: 25vh;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    cursor: grab;
    background-image: url("../imgs/main/header.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Бие бүрдэлийн хэв загвар */
#bodySimpleLayoutPart {
    width: 25vh;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    cursor: grab;
    background-image: url("../imgs/main/body.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

#bodySimpleLayoutPartParent {
    display: block;
    margin: 10px;
    width: fit-content;
    text-align: center;
    font-family: "Pretendard";
}

#bodySimpleLayoutPartParent p {
    font-size: 13px;
}

#bodyLayouts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyLayouts :nth-child(1) {
    display: block;
}

/* Хөл бүрдэлийн хэв загвар */
#footerSimpleLayoutPart {
    width: 25vh;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    cursor: grab;
    background-image: url("../imgs/main/footer.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

#footerSimpleLayoutPartParent {
    display: block;
    margin: 10px;
    width: fit-content;
    text-align: center;
    font-family: "Pretendard";
}

#footerSimpleLayoutPartParent p {
    font-size: 13px;
}

#footerLayouts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLayouts :nth-child(1) {
    display: block;
}

/* Эхний хуудас болох ачааллах хуудасны хэв загвар*/
#introducePage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #292929;
}

#logoPart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    text-align: center;
}

#animatedSlogan {
    display: flex;
    gap: 15px;
    justify-content: center;
    
}

#logoPart img {
    width: 100%;
    height: 100%;
    background-color: #6a84e2;
}

.loader-line {
    width: 250px;
    height: 4px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 4px;
    width: 40%;
    background-color: rgb(62, 113, 155);
    -webkit-animation: lineAnim 2s linear infinite;
    -moz-animation: lineAnim 2s linear infinite;
    animation: lineAnim 2s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

#linePart {
    display: block;
    justify-content: center;
    margin-bottom: 100px;
}



/*Цэсний хэсгийн утга оруулах формуудын хэв загвар*/
.forms {
    display: inline-block;
    text-align: center;
    padding:  0px 50px 0px 0px;
    width: 100%;
    height: auto;
    border-bottom: none;
}

.forms select {
    align-items: center;
    width: 100px;
    height: 25px;
    font-size: 12px;
    padding: 1px;
    border-radius: 5px;
    font-size: 12px;
}

.forms input {
    align-items: center;
    width: 100px;
    height: 25px;
    font-size: 12px;
    padding: 1px;
    border-radius: 5px;
    font-family:"Pretendard";
    font-weight: 300;
    color: #292929      ;
}

.forms form {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin-left: 5px;
    padding-right: 80px;
}

.forms label {
    border-bottom: none;
    font-size: 12px;
    font-weight: 300;
}

.description {
    margin: 10px;
    
}

.description button {
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    margin-right: 25px;
}

/*Баруун болон зүүн цэсний нээгдэх хэсгийн хэв загвар*/
#accordionLeft li,
#accordionRight li {
    list-style: none;
    width: 100%;
    background-color: #292929;
    border-radius: 4px;
    font-weight: 600;
}

#accordionLeft li label,
#accordionRight li label {
    padding: 10px;
    display: flex;
    align-items: center;
   
    font-size: 14px;
    font-family: "Pretendard";
    cursor: pointer;
    color: #C1C1C1;
    border-bottom: 0.5px solid #606465;
}

#accordionLeft label+input[type="checkbox"],
#accordionRight label+input[type="checkbox"] {
    display: none;
}

#accordionLeft .content,
#accordionRight .content {
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    color: #C1C1C1;
}

#accordionLeft label+input[type="checkbox"]:checked+.content,
#accordionRight label+input[type="checkbox"]:checked+.content {
    max-height: 300px;
    border-bottom: 5px solid #606465;
}

/* Элемент сонгох үед цэнхэр хүрээ харуулах хэв загвар*/
.special {
    border-style: outset;
    border: 5px solid blue;
}

/* Элементийн цэснүүдийн хэв загвар */
.element {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    background-color: #292929;
    border-radius: 5px;
    color: #C1C1C1;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    border: solid #606465 0.5px;
    cursor: grab;
    font-family: "Pretendard";
    font-size: 13px;
    font-weight: 400;
    
}
.element img{
    width: 20px;
    height: 20px;
}

/*mouse baruun tovch menu css*/
.wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: hidden;
    width: 200px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 1);
}

.content .item {
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    list-style: none;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 2px;
}

.content .item span {
    font-size: 16px;
    margin-left: 10px;
}

.content .item:hover {
    background: #f2f2f2f2;
}

.content .adding {
    display: flex;
    margin-top: -5px;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.adding .adding-menu {
    position: absolute;
    background: #C1C1C1;
    width: 180px;
    top: 120px;
    left: 200px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.adding:hover .adding-menu {
    opacity: 1;
    pointer-events: auto;
}

/*code zasvarlah hesgiin css bichigdej bna*/

.codeSection {
    display: flex;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

.codePage {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #343c3e;
}

.shifterPart {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #343c3e;
    color:#C1C1C1;
    overflow: hidden;
    height: 25px;
    width: 100vw;
}

.shifterPart p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Pretendard";
}

.codeWindows {
    display: none;
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.windows {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 98vh;
}

.htmlPage {
    display: flex;
    width: 30vw;
    height: 90vh;
    background-color: black;
}

.cssPage {
    display: flex;
    width: 30vw;
    height: 90vh;
    background-color: black;
}

.javascriptPage {
    display: flex;
    width: 30vw;
    height: 90vh;
    background-color: black;
}

/*Shiljdeg panneluudiin css*/
.tabContainer {
    width: 100%;
    height: 100%;
}

.tabContainer .buttonContainer {
    height: 27px;
    background-color: #343c3e;
}

.tabContainer .buttonContainer button {
    width: 10%;
    height: 100%;
    float: left;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-left: solid #514f4f;
    border-right: solid #514f4f;
    border-top: solid #514f4f;
    outline: none;
    cursor: pointer;
    font-family: "Pretendard";
    font-size: 13px;
    background-color: #ffffff;
}

.buttonContainer button:hover {
    background-color: #b0babb;
}

.tabContainer .tabPanel {
    height: 100%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: "Pretendard";
    font-size: 22px;
    display: none;
}
#container{
    display: inline;
    position: relative;
}


.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    justify-content: center;
    background-color: #292929;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  .modal-content p{
    color: white;
     text-align: center;
     font-family: "Pretendard";
     font-weight: 400;
     font-size: 14px;
     margin: 10px;
  }
  .modal-content img{
  }
  
  /* The Close Button */
  .close {
    color: #a89f9f;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #faf8f8;
    text-decoration: none;
    cursor: pointer;
  }